:root {
    --main-color:#2196f3;
    --main-color-alt:#1787e0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slide-bar {
    width: 200px;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: var(--main-color);
    border-radius: 0 20px 20px 0;
    opacity: .7;
    transform: translateX(0);
    transition: 1.5s;
}

.slide-bar.inactive {
    transform: translateX(-800%);
}

.slide-bar .close-subjects {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 20px;
    background-color: #ddd;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    outline: none;
    border: none;
}

.slide-bar ul {
    margin-top: 40px;
    padding: 10px;
    list-style: none;
    & li {
        padding: 25px;
        cursor: pointer;
        text-align: center;
        color: white;
        transition: .5s;
        position: relative;
        word-spacing: 5px;
    }


    li.pro-active {
        opacity: .4;
    }
    li.active {
        background-color: white;
        border-radius: 6px;
        color: #000;
        transform: scale(1.2);
        padding: 2px 4px;
    }

    li:not(.active) {
        transform: scale(.8);
    }

    & li::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background-color: white;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        transition: .3s;
    }

    & li:hover::after {
        width: 80%;
    }
}

.container {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.quiz-app {
    transform: rotateX(90deg);
    transform-style: preserve-3d;
    height: 0;
    transform-origin: top center;
}

.quiz-app.active {
    transform:  rotateX(0);
}

.quiz-app,
.result-show {
    width: 100%;
    background-color: #fcfcfc;
    height: 500px;
    box-shadow: 0px 0px 20px 0px #ccc;
    padding: 5px 0;
    border-radius: 10px;
    padding: 20px;
    transition: 1s;
}


.result-show {
    display: none;
    height: 400px;
    overflow: auto;
    transform:translateX(-50%) translateY(100%);
    opacity: 0;
    position: absolute;
    left: 50%;
    bottom: -50px;
    width: 100%;
}

.result-show.showed {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
}


.result-show .answers .answer {
    opacity: .2;
}

.result-show .answers .answer.selected {
    border-color: #dddddd96;
}

.result-show .answers .answer span:nth-child(3) {
    position: absolute;
    right: 2px;
}

.result-show .answers .answer.true span:nth-child(3) {
    color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
}

.result-show .answers .answer.false span:nth-child(3) {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.result-show::-webkit-scrollbar {
    width: 5px;
}

.result-show::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

.result-show::-webkit-scrollbar-track {
    background-color: rgba(72, 226, 226, 0.24);
}

/* Start Category */
.category {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    position: relative;
    transition: .5s;
}

.category .appear-subjects.active {
    position: absolute;
    top: -135%;
    left: -18px;
    font-size: 40px;
    cursor: pointer;
}

@media (max-width:767px) {
    .container {
        width: 95%;
        margin: 0 auto;
    }

    .quiz-app {
        width: 100%;
    }
    
    .category .appear-subjects.active {
        left: calc(100% - 20px);
        right: 5px;
    }

    .slide-bar {
        height: fit-content;
        width: 100%;
        top: 0;
        border-radius: 0;
    }

    .slide-bar.inactive {
        transform: translateY(-800%);
    }
    
    .slide-bar ul {
        list-style: none;
        display: flex;
        margin-top: 25px;
        
        & li {
            padding: 2px;
            margin-right: 10px;
            font-size: 17px;
        }
    }

}


.category div {
    color: var(--main-color);
}
.category .sub-name {
    color: #000;
}

.category span {
    color: var(--main-color);
    font-weight: bold;
}

.category .subject-name {
    margin-left: 5px;
}

/* End Category */

/* Start Quiz Area */

.quiz-area {
    transition: 1s;
    background-color:white;
    color: #000;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 20px #ddd;
    transition: .5s;
    height: 350px;
    overflow: auto;
}

.quiz-area.result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.quiz-area .final-result {
    font-size: 20px;
    font-weight: bold;
}

.next-scale {
    transform: scale(1);
}

.prev-scale {
    transform: scale(0);
}

.quiz-area.none {
    display: none;
}

.quiz-area .evaluation-result {
    font-size: 20px;
}

.quiz-area .evaluation-result > span {
    font-weight: bold;
}
.quiz-area .evaluation-result > .perfect {
    color: var(--main-color);
}

.quiz-area .evaluation-result > .good {
    color: #9c27b0;
}

.quiz-area .evaluation-result > .bad {
    color: red;
}


.quiz-area h3 {
    margin-bottom: 20px;
    margin-top: 10px;
}

.answers {
    padding-left: 10px;
    margin-bottom: 40px;
}
@media (max-width:767px) {
    .quiz-area h3 {
        font-size: 17px;
    }
}

.answers > div {
    padding-top: 20px;
    padding-bottom: 10px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.answers > div.selected .circle {
    border-color: var(--main-color);
    background-color: var(--main-color);
}

.answers > div.selected .answer-value {
    color: var(--main-color);
}

.answers > div:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.answers > div .circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #000;
}

.answers > div .answer-value {
    margin-left: 10px;
}

.answers > div:hover {
    color: var(--main-color);
    border-bottom-color: var(--main-color);
}

.answers > div:hover .circle  {
    border-color: var(--main-color);
}

/* End Quiz Area */

.quiz-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    box-shadow: 0px 0px 20px #ddd;
    padding: 5px;
    border-radius: 10px;
    transition: .5s;
    overflow: auto;
    height: 40px;
    position: relative;
}

.quiz-footer .bullet {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2.5px solid #000;
    margin-left: 5px;
    margin-bottom: 10px;
    padding: 10px 12px;
    color: #000;
    font-size: 11px;
    font-weight: bold;
}

.quiz-footer .bullet.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: white;
}

.quiz-footer::-webkit-scrollbar {
    width: 5px;
}

.quiz-footer::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

.quiz-footer::-webkit-scrollbar-track {
    background-color: rgba(72, 226, 226, 0.24);
}

.timerDiv {
    position: sticky;
    right: 0;
    top: 0;
}
.timer {
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    width: 100%;
    text-align: center;
}

button.result-btn {
    display: none;
    background-color: var(--main-color);
    color: white;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
    transition: .5s;
    border: 1px solid var(--main-color);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    transition: 1s;
    font-size: 0;
}

button:hover {
    background-color: white;
    color: var(--main-color);
    border: 1px dotted var(--main-color);
}

button.show {
    display: block;
    opacity: .2;
}

button.amazing {
    opacity: 1;
    width: 100%;
    font-size: 20px;
};
